Repository Seneca-CDOT/telescope, pull requests merged in 2019-12, with the labels that each got.

#337 Added test cases for extract-urls
  src/backend/utils/extract-urls.js
  test/extract-urls.test.js
Labels: area: back-end, type: test

#395 Fixes #197, fixes #199: revamp inactive-blog-filter and tests
  src/backend/utils/inactive-blog-filter.js
  test/inactive-blog-filter.test.js
  test/test_files/inactive-blog-filter.test-active-feeds.txt
  test/test_files/inactive-blog-filter.test-dead-feeds.txt
  test/test_files/inactive-blog-filter.test-inactive-feeds.txt
Labels: type: test

#413 Fixed #283 added lighthouse testing
  .gitignore
  package.json
Labels: area: CI/CD, area: front-end

#398 Fixes #386 - Added specific environment instructions in CONTRIBUTING.md
  docs/CONTRIBUTING.md
Labels: area: docker, area: redis, type: documentation

#427 Added guid when storing a post
  src/backend/utils/storage.js
Labels: area: back-end, priority: p1, type: bug

#433 Fixes #428: Encode guids in URLs returned in posts JSON results #428
  src/backend/web/routes/posts.js
Labels: area: back-end

#436 Closes #432, #437: Limit number of posts returned by HTTP /posts route
  src/backend/utils/storage.js
  src/backend/web/routes/posts.js
  test/storage.test.js
Labels: area: back-end, area: redis, type: enhancement

#450 Closes #431: Add tests for HTTP /posts route
  test/posts.test.js
Labels: area: back-end, area: redis, type: test

#459 Fix bug in posts tests
  test/posts.test.js
Labels: area: back-end, type: test

#472 Add test-ci script to also check prettier on CI
  .circleci/config.yml
  .travis.yml
  package.json
Labels: area: CI/CD

#375 Fixes #315: Added password to the Bull queue constructor
  env.example
  src/backend/lib/queue.js
  src/backend/lib/redis.js
Labels: area: back-end, type: enhancement

#504 Update html-elements.js to use Post, add %
  tools/html-elements.js
Labels: area: tools

#521 Closes #509: Move /posts/count to X-Total-Count header for /posts
  src/backend/web/routes/posts.js
  test/posts.test.js
Labels: area: back-end, area: web server, type: enhancement

#528 Closes #508: Add CORS to REST API routes to support third-party access
  package.json
  src/backend/web/app.js
Labels: area: back-end, area: web server, type: enhancement
