Repository Seneca-CDOT/telescope, pull requests merged in 2020-10, with the labels that each got.

#1135 Closes #981: Make "Add Yours!" link to /myfeeds
  src/frontend/src/components/Banner/Banner.jsx
Labels: area: front-end

#1144 adds: Material styling to search and results components
  src/frontend/src/components/AuthorResult/AuthorResult.jsx
  src/frontend/src/components/SearchBar/SearchBar.jsx
  src/frontend/src/components/SearchPage/SearchPage.jsx
Labels: area: css styling, area: front-end, type: enhancement

#1140 Fixes #1128: Need margin on right-hand side of "Add yours..." message
  src/frontend/src/components/Banner/Banner.jsx
Labels: area: css styling, area: front-end

#1142 refactor: Use one set of config files for both staging and production
  docker-compose-production.yml
  docker-compose-staging.yml
  docs/staging-production-deployment.md
  nginx-staging.conf
  nginx.conf
  tools/autodeployment/deploy.sh
Labels: Priority: Medium, area: docker, area:deployment, type: enhancement

#1148 Fixes #974: Remove className="..." from Header.jsx
  src/frontend/src/components/Header/Header.jsx
Labels: area: front-end

#1146 Fix autodeployment script after merging #1142
  tools/autodeployment/deploy.sh
Labels: area: CI/CD, area:deployment

#1150 Fixes #1079: Align FAB button right on mobile
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/DynamicBackgroundContainer.jsx
Labels: area: css styling, area: front-end

#1151 Fixes #968: Slack SVG icon
  src/frontend/src/components/AboutFooter/AboutFooter.jsx
  src/frontend/src/images/Slack_Mark_Monochrome_White.svg
Labels: area: front-end

#1075 Add flag routes and function to backend
  src/backend/data/feed.js
  src/backend/utils/storage.js
  src/backend/web/routes/feeds.js
  test/feed.test.js
  test/feeds.test.js
  test/storage.test.js
Labels: area: back-end, area: web server, type: enhancement

#1156 Fixes #1038: Removed extra padding on code blocks
  src/frontend/src/components/Post/telescope-post-content.css
Labels: area: css styling, area: front-end

#1158 adds: node-test.yml Github Actions workflow
  .github/workflows/node-test.yml
Labels: area: CI/CD, developer experience, type: enhancement

#1162 Fixes #1078: Banner Images Reload twice
  src/frontend/src/components/Posts/Posts.jsx
  src/frontend/src/pages/index.js
Labels: area: front-end

#1165 Fixes #1155: Route /myfeeds goes to blank page with user not logged in
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/pages/myfeeds.js
Labels: area: front-end

#1174 Home page light theme implemented
  src/frontend/src/components/AuthorResult/AuthorResult.jsx
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/Footer/Footer.jsx
  src/frontend/src/components/Header/DesktopHeader.jsx
  src/frontend/src/components/Header/MobileHeader.jsx
  src/frontend/src/components/Login/LoggedIn.jsx
  src/frontend/src/components/Login/LoggedOut.jsx
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/Posts/Posts.jsx
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
  src/frontend/src/templates/template.js
  src/frontend/src/theme.js
Labels: area: css styling, area: design, area: front-end

#1161 Added query route tests
  test/query.test.js
Labels: area: back-end, type: test

#1167 Fixes #1166: /graphql playground broken due to CORS issue
  src/backend/web/app.js
Labels: type: security

#1181 Fixes # 1179 - Update Colour Palette docs
  docs/gui-colour-palette.md
  docs/images/palette.png
Labels: area: front-end, type: documentation

#1184 Fixes #1180 Remove outside post padding in mobile
  src/frontend/src/components/Posts/Posts.jsx
Labels: area: css styling, area: front-end, type: enhancement

#1186 Fixes #606 switch from 'exit' event to 'beforeExit' in order to make asynchronos calls
  src/backend/index.js
Labels: area: back-end

#1191 Fixes #1187 - Make Hero Banner really heroic
  src/frontend/src/components/DynamicBackgroundContainer.jsx
Labels: area: css styling, area: front-end

#1197 adds: prebuild (blue/green) style deployment script
  Dockerfile
  docs/environment-setup.md
  tools/autodeployment/deploy.sh
Labels: Priority: Medium, area: CI/CD, area: docker, area:deployment, developer experience

#1178 Fixes #1175 logged in formatting in mobile view
  src/frontend/src/components/Login/LoggedIn.jsx
Labels: area: front-end

#1202 fixes: volume persistance error
  tools/autodeployment/deploy.sh
Labels: area:deployment

#1192 Fixes #1070: Fix scroll overlap bug with header bars
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/Header/DesktopHeader.jsx
  src/frontend/src/components/Header/MobileHeader.jsx
  src/frontend/src/components/HideOnScroll/HideOnScroll.jsx
  src/frontend/src/components/HideOnScroll/index.js
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
Labels: area: front-end

#1196 Add Elasticsearch Mocking
  docs/elasticsearch.md
  docs/environment-setup.md
  env.example
  package.json
  src/backend/data/feed.js
  src/backend/data/post.js
  src/backend/feed/worker.js
  src/backend/lib/config.js
  src/backend/lib/elastic.js
  src/backend/utils/__mocks__/indexer.js
  src/backend/utils/indexer.js
  src/backend/web/routes/query.js
  test/feed-processor.test.js
  test/feed.test.js
  test/feeds-atom.test.js
  test/feeds-json.test.js
  test/feeds-opml.test.js
  test/feeds-rss.test.js
  test/feeds-wiki.test.js
  test/feeds.test.js
  test/post.test.js
  test/posts.test.js
  test/query.test.js
  test/server.test.js
  test/user.test.js
Labels: area: back-end, area: elasticsearch, type: enhancement

#1207 Fixes #1206: Removed old TODO comment
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
Labels: area: front-end

#1214 Fixes #952: Moved Parentheses to Line Above
  env.example
Labels: developer experience

#1205 Fixes #1183: Update environment-setup docs
  docs/environment-setup.md
  docs/gatsbyjs.md
Labels: developer experience, type: documentation

#1177 Fixes #1169: Fix search posts
  src/frontend/src/components/Posts/Posts.jsx
  src/frontend/src/components/SearchPage/SearchPage.jsx
Labels: area: front-end

#1210 added elasticsearch.md reference to main contributing readme
  docs/CONTRIBUTING.md
  docs/environment-setup.md
  docs/redis.md
Labels: area: elasticsearch, type: documentation

#1216 Fixes #1172 reduce tracking pixel size back to 1px 1px
  src/frontend/src/components/Post/telescope-post-content.css
Labels: area: css styling, area: front-end

#1230 Fixes #1203: Added Giphy as an iframe host and added test
  src/backend/utils/html/sanitize.js
  test/sanitize-html.test.js
Labels: area: back-end

#1159 Fixes #1088: Add Icons for Admin to delete/flag a feed
  src/frontend/src/components/AdminButtons/AdminButtons.jsx
  src/frontend/src/components/AdminButtons/index.js
  src/frontend/src/components/Post/Post.jsx
Labels: area: front-end

#1233 chore: update dependencies to fix vulnerabilties
  Dockerfile
  package.json
  src/frontend/package.json
Labels: dependencies

#1241 1207 - cleanup code
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
Labels: area: front-end

#1247 Fixes #1246: Syntax highlighter not working
  src/frontend/src/components/Post/Post.jsx
Labels: area: front-end
