Repository Seneca-CDOT/telescope, pull requests merged in 2020-12, with the labels that each got.

#1475 Fix: specify gatsby in the path to the front-end's public folder
  src/backend/web/routes/index.js
Labels: 5 min fix, Priority: High, area: back-end

#1489 Fix: upgrade highlight.js to version 10.4.1
  package.json
  src/frontend/gatsby/package.json
  test/syntax-highlight.test.js
Labels: dependencies

#1522 Install Material-UI in next + update .eslint for src/frontend/next
  .eslintrc.js
  src/frontend/next/package.json
Labels: area: front-end
