Repository Seneca-CDOT/telescope, pull requests merged in 2020-03, with the labels that each got.

#744 Create author result component
  src/frontend/src/components/AuthorResult/AuthorResult.css
  src/frontend/src/components/AuthorResult/AuthorResult.jsx
  src/frontend/src/components/AuthorResult/index.js
Labels: area: front-end

#754 Overhaul of the Header
  src/frontend/src/components/Header/Header.css
  src/frontend/src/components/Header/Header.jsx
  src/frontend/src/components/Layout/Layout.js
Labels: Priority: High, area: front-end

#752 Fixes #751 moved Search bar to /search and updated css
  src/frontend/src/components/Layout/Layout.js
  src/frontend/src/components/SearchBar/SearchBar.jsx
  src/frontend/src/pages/search.js
Labels: area: front-end

#755 Added version number
  src/frontend/src/components/Banner/Banner.css
  src/frontend/src/components/Banner/Banner.jsx
Labels: area: front-end

#748 Add Feeds needs to be now to be connected front end to back end
  src/frontend/src/pages/myfeeds.js
Labels: area: back-end, area: front-end

#758 Styled login button
  src/frontend/src/components/Login/LoggedOut.jsx
  src/frontend/src/components/Login/Login.css
Labels: area: design, area: front-end

#776 Drawer no longer an issue for mobile
  src/frontend/src/components/Backdrop/Backdrop.css
  src/frontend/src/components/Backdrop/Backdrop.jsx
  src/frontend/src/components/Backdrop/index.js
  src/frontend/src/components/HamburgerButton/HamburgerButton.css
  src/frontend/src/components/HamburgerButton/HamburgerButton.jsx
  src/frontend/src/components/HamburgerButton/index.js
  src/frontend/src/components/Layout/Layout.js
  src/frontend/src/components/SideDrawer/SideDrawer.css
  src/frontend/src/components/SideDrawer/SideDrawer.jsx
  src/frontend/src/components/SideDrawer/index.js
Labels: area: front-end

#777 logged in formatting changed to fit rest of header
  src/frontend/src/components/Login/LoggedIn.jsx
  src/frontend/src/components/Login/LoggedOut.jsx
  src/frontend/src/components/Login/Login.css
  src/frontend/src/components/Login/Login.jsx
Labels: area: front-end

#797 Add automatic syntax highlighting for <pre> post elements
  src/frontend/package.json
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/Post/syntax-highlight.js
Labels: area: front-end

#800 Closes #699: Automatic deploys to staging on commit to master
  env.staging
  package.json
  tools/autodeployment/deploy_stage.sh
  tools/autodeployment/env.example
  tools/autodeployment/package.json
  tools/autodeployment/server.js
Labels: area: docker, area:deployment, type: enhancement

#806 Update Docs to reflect conflict when running different redis methods at once
  docs/environment-setup.md
Labels: area: redis, developer experience, type: documentation

#823 Fix #757: reject posts without publication date
  src/backend/data/post.js
  test/post.test.js
Labels: area: back-end, type: bug

#815 Fixes #778 Hero Banner update
  src/frontend/src/components/Banner/Banner.css
  src/frontend/src/components/Banner/Banner.jsx
Labels: area: front-end, type: enhancement

#822 Closes #537: Add full-text indexing and search to our backend
  docker-compose-staging.yml
  docker-compose.yml
  env.example
  env.staging
  package.json
  src/backend/data/post.js
  src/backend/feed/worker.js
  src/backend/utils/__mocks__/elastic.js
  src/backend/utils/elastic.js
  test/feed-processor.test.js
  test/feeds-atom.test.js
  test/feeds-json.test.js
  test/feeds-opml.test.js
  test/feeds-rss.test.js
  test/feeds-wiki.test.js
  test/feeds.test.js
  test/post.test.js
  test/posts.test.js
  test/server.test.js
Labels: area: back-end, area: docker, area: elasticsearch, type: enhancement

#834 Closes #832: Documentation for Full-Text Indexing(ElasticSearch)
  docs/elasticsearch.md
  docs/environment-setup.md
Labels: area: elasticsearch, type: documentation

#845 Closes #665: Nested Queries in GraphQL
  src/backend/web/graphql/index.js
Labels: area: back-end, type: enhancement

#847 Fixed double dash typo.
  docs/graphql.md
Labels: type: documentation

#824 Add graphql-passport to Telescope
  package.json
  src/backend/web/app.js
Labels: area: web server, type: enhancement, type: security

#854 Clicking on the menu icon toggles the drawer
  src/frontend/src/components/Header/Header.jsx
Labels: area: front-end

#857 Remove unnecessary .css files and logo component
  src/frontend/src/components/AuthorResult/AuthorResult.css
  src/frontend/src/components/Header/Header.css
  src/frontend/src/components/Layout/Layout.css
  src/frontend/src/components/Layout/Layout.js
  src/frontend/src/components/Logo/Logo.jsx
  src/frontend/src/components/Logo/index.js
Labels: 5 min fix, area: front-end

#863 Fixes #862: Increase number of blog posts on staging
  env.example
  env.staging
Labels: 5 min fix, Priority: High, area: back-end, area:deployment

#861 Fixes #765 add toolbar mixin underneath Header bar
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/Header/Header.jsx
  src/frontend/src/pages/search.js
Labels: area: front-end

#867 Fixes #813: Whitelist YouTube/Vimeo iframe elements in post content
  src/backend/utils/sanitize-html.js
  test/sanitize-html.test.js
Labels: area: front-end, type: enhancement

#866 Fix #865: rename /auth/metadata route to /sp
  src/backend/web/routes/auth.js
  src/backend/web/routes/index.js
  src/backend/web/routes/service-provider.js
Labels: area: sso

#877 Fix #875 - harmonize our user profile object for the two SSO implementations we have
  docker-compose.yml
  simplesamlphp-users.php
  src/backend/web/authentication.js
  src/frontend/src/components/Login/LoggedIn.jsx
  src/frontend/src/components/Login/Login.jsx
Labels: area: sso, area:deployment, type: enhancement

#792 Make search bar return results
  src/frontend/package.json
  src/frontend/src/components/AuthorResult/AuthorResult.jsx
  src/frontend/src/components/SearchBar/SearchBar.jsx
  src/frontend/src/components/SearchPage/SearchPage.jsx
  src/frontend/src/components/SearchPage/index.js
  src/frontend/src/pages/search.js
Labels: area: front-end

#879 Closes #666: Add data volume to redis container
  .gitignore
  docker-compose-staging.yml
  docker-compose.yml
Labels: area: back-end, area: redis, type: enhancement

#891 More SSO cleanup
  src/backend/web/app.js
  src/backend/web/authentication.js
  src/backend/web/routes/admin.js
  src/backend/web/routes/auth.js
  src/backend/web/routes/user.js
Labels: area: sso

#871 Closes #634: nginx configuration for staging and production
  docker-compose-staging.yml
  nginx.conf
  src/backend/web/routes/index.js
Labels: area:deployment, type: enhancement

#895 Fix reusing volumes in staging deployment
  docs/environment-setup.md
  tools/autodeployment/deploy_stage.sh
Labels: Priority: High, area: docker, area: tools, area:deployment

#904 Remove summarize and node-summarizer dep
  package.json
  src/backend/utils/summarize.js
  test/summarize.test.js
Labels: area: back-end
