Repository Seneca-CDOT/telescope, pull requests merged in 2020-08, with the labels that each got.

#1105 Fixes #1104 fix error in building the frontend
  src/frontend/gatsby-node.js
  src/frontend/package.json
  src/frontend/src/markdown-pages/about.md
  src/frontend/src/templates/template.js
Labels: Priority: High, area: front-end

#1108 Progress #1106: Packages to update for next release
  .eslintrc.js
  package.json
Labels: Priority: Medium, dependencies

#1109 Progress #1106 updated frontend packages
  src/frontend/package.json
Labels: area: front-end, dependencies

#1110 Closes #1106: Packages to update for next release
  package.json
  src/backend/utils/html/syntax-highlight.js
  test/syntax-highlight.test.js
Labels: area: back-end, dependencies
