Repository Seneca-CDOT/telescope, pull requests merged in 2020-04, with the labels that each got.

#918 Fixes #702: Unreachable feed list causes the feed queue to error and not recover
  env.example
  env.staging
  package.json
  src/backend/utils/wiki-feed-parser.js
  test/wiki-feed-parser.test.js
Labels: area: back-end

#842 Compare nginx config with Mozilla recommendations
  docker-compose-staging.yml
  nginx-staging.conf
Labels: area:deployment, type: enhancement, type: security

#922 Fixes #868: factor Header, SEO into PageBase
  src/frontend/src/components/SearchPage/SearchPage.jsx
  src/frontend/src/pages/PageBase.js
  src/frontend/src/pages/about.js
  src/frontend/src/pages/index.js
  src/frontend/src/pages/myfeeds.js
  src/frontend/src/pages/search.js
Labels: area: front-end, developer experience, type: enhancement

#923 Fixes #914: link logged-in user's name to MyFeeds page
  src/frontend/src/components/Login/LoggedIn.jsx
Labels: area: design, area: front-end, type: enhancement

#935 Fixes #934: Allow custom headers to pass through CORS
  src/backend/web/app.js
Labels: area: web server

#949 Add Gatsby dev server proxying (PROXY_GATSBY)
  docs/gatsbyjs.md
  env.example
  package.json
  src/backend/web/routes/index.js
Labels: area: front-end, area: web server, developer experience

#953 Add elasticsearch delete for posts, update elastic mock
  src/backend/utils/__mocks__/elastic.js
  src/backend/utils/elastic.js
Labels: area: back-end

#956 Update test authentication to return user object with id
  src/backend/web/__mocks__/authentication.js
  test/lib/authentication.js
Labels: type: test

#958 Fixes #955: add tests for GET /user/feeds, DELETE /feeds/:id
  test/feeds.test.js
  test/user.test.js
Labels: area: web server, type: test

#959 fix #717 Adding user class
  src/backend/data/feed.js
  src/backend/data/user.js
  src/backend/web/authentication.js
Labels: area: web server, type: enhancement

#933 Fix #746, #760, #946: enhance the My Feeds page
  .eslintrc.js
  package.json
  src/frontend/package.json
  src/frontend/src/components/MyFeedsPage/DeleteFeedDialogButton.jsx
  src/frontend/src/components/MyFeedsPage/ExistingFeedList.jsx
  src/frontend/src/components/MyFeedsPage/HelpPopoverButton.jsx
  src/frontend/src/pages/myfeeds.js
Labels: area: design, area: front-end, type: enhancement

#960 Fix #954 REST API
  src/backend/web/__mocks__/authentication.js
  src/backend/web/routes/feeds.js
  src/backend/web/routes/user.js
  test/feeds.test.js
  test/user.test.js
Labels: area: web server, type: enhancement

#973 Fixes #972 add title to Home page and move posts.length check into <Posts>
  src/frontend/src/components/Posts/Posts.jsx
  src/frontend/src/pages/index.js
Labels: area: front-end

#983 Fixes #976: moves new feed form to above existing feeds list
  src/frontend/src/pages/myfeeds.js
Labels: 5 min fix, area: front-end, type: enhancement

#986 Refactor admin code, add more tests
  src/backend/data/admin.js
  src/backend/data/user.js
  src/backend/web/__mocks__/authentication.js
  src/backend/web/app.js
  src/backend/web/authentication.js
  src/backend/web/routes/admin.js
  test/feeds.test.js
  test/user.test.js
Labels: area: web server, type: test

#964 Fixes 817 added Footer to DesktopHeader and MobileHeader
  src/frontend/src/components/Footer/Footer.jsx
  src/frontend/src/components/Header/DesktopHeader.jsx
  src/frontend/src/components/Header/MobileHeader.jsx
  src/frontend/src/pages/index.js
Labels: area: front-end

#987 Closes #907: Setup production box for https://telescope.cdot.systems
  docker-compose-production.yml
  env.production
  nginx.production.conf
  tools/autodeployment/deploy_stage.sh
Labels: area:deployment, type: enhancement

#997 Add Seneca SSO to env.production
  env.production
Labels: area:deployment

#994 Fix #977, #979: improve performance of My Feeds page
  src/frontend/src/components/MyFeedsPage/DeleteFeedDialogButton.jsx
  src/frontend/src/components/MyFeedsPage/ExistingFeedList.jsx
  src/frontend/src/pages/myfeeds.js
Labels: area: front-end, type: bug

#1006 Fixes #1002: fixes JSX-related issues in Banner.jsx, Posts.jsx
  src/frontend/plugins/gatsby-plugin-top-layout/TopLayout.js
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/Posts/Posts.jsx
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
  src/frontend/src/components/SnackBar/SnackBar.jsx
Labels: 5 min fix, area: front-end, type: bug

#993 Remove "feed added successfully" after some period + add alert for "removing feed"
  src/frontend/src/components/SnackBar/SnackBar.jsx
  src/frontend/src/pages/index.js
  src/frontend/src/pages/myfeeds.js
Labels: area: front-end, type: bug

#1007 Fixed eslint warnings
  package.json
  src/backend/utils/elastic.js
  src/backend/utils/wiki-feed-parser.js
Labels: area: back-end, area: elasticsearch

#1015 Process Redis feeds in addition to Wiki feeds
  src/backend/index.js
Labels: area: back-end, area: redis

#1020 Add /status to deploy server, fix callback missing bug
  .vscode/launch.json
  src/backend/web/routes/admin.js
  tools/autodeployment/README.md
  tools/autodeployment/env.example
  tools/autodeployment/info.js
  tools/autodeployment/package.json
  tools/autodeployment/server.js
Labels: area: CI/CD, area:deployment

#1025 Restore SAML SLO so we can debug on staging
  src/backend/web/authentication.js
  src/backend/web/routes/auth.js
Labels: area: sso

#1031 Fixes 984 make word Telescope clickable
  src/frontend/src/components/Header/DesktopHeader.jsx
  src/frontend/src/components/Header/MobileHeader.jsx
Labels: 5 min fix, area: front-end

#1046 Enable gzip compression in nginx
  nginx-production.conf
  nginx-staging.conf
Labels: area: performance, area: web server, area:deployment

#1051 Fix #982: restore nameID to user info for logout requests
  src/backend/data/admin.js
  src/backend/data/user.js
  src/backend/web/__mocks__/authentication.js
  src/backend/web/authentication.js
Labels: area: sso

#1053 Remove HTTP-Redirect auth request binding
  src/backend/web/authentication.js
Labels: area: sso

#1054 Include nameID and nameIDFormat in req.user
  src/backend/web/authentication.js
Labels: area: sso

#1052 Tune nginx configs to run more efficiently
  nginx-production.conf
  nginx-staging.conf
Labels: area: web server, area:deployment

#1063 Add persistent storage for elasticsearch
  docker-compose-production.yml
  docker-compose-staging.yml
Labels: area: elasticsearch, area:deployment, type: enhancement

#1061 Move Roboto web font into our tree
  nginx-production.conf
  nginx-staging.conf
  src/frontend/package.json
  src/frontend/plugins/gatsby-plugin-top-layout/TopLayout.js
  src/frontend/plugins/gatsby-plugin-top-layout/gatsby-browser.js
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/Post/telescope-post-content.css
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
  src/frontend/src/pages/PageBase.js
Labels: area: front-end, area: performance

#1067 Remove second meta viewport declaration
  src/frontend/plugins/gatsby-plugin-top-layout/TopLayout.js
Labels: area: front-end

#1068 Set charset to utf-8 in nginx
  nginx-production.conf
  nginx-staging.conf
Labels: area: web server

#1034 Fixes #930 Post header sticks to the top
  src/frontend/src/components/Header/DesktopHeader.jsx
  src/frontend/src/components/Header/Header.jsx
  src/frontend/src/components/Header/MobileHeader.jsx
  src/frontend/src/components/HideOnScroll/HideOnScroll.jsx
  src/frontend/src/components/HideOnScroll/index.js
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
Labels: area: css styling, area: front-end, type: enhancement

#1072 Add cache-control headers for Gatsby's files
  nginx-production.conf
  nginx-staging.conf
Labels: area: web server, area:deployment

#1066 Fix #869: wrap iframes and control their width
  src/backend/utils/html/fix-iframe-width.js
  src/backend/utils/html/index.js
  src/frontend/src/components/Post/telescope-post-content.css
  test/fix-iframe-width.test.js
Labels: area: back-end, area: css styling, area: front-end

#1081 Add error handling, reporting to unsplash image download build step
  src/frontend/gatsby-node.js
Labels: area:deployment

#1087 Add unsplash client id to autodeployment process
  tools/autodeployment/deploy.sh
  tools/autodeployment/env.example
  tools/autodeployment/server.js
Labels: area:deployment, type: enhancement
