Repository Seneca-CDOT/telescope, pull requests merged in 2020-09, with the labels that each got.

#1114 Closes #683: Deal with large logs on staging and production
  Dockerfile
  docker-compose-production.yml
  docker-compose-staging.yml
  env.production
  env.staging
  tools/logrotate/Dockerfile
  tools/logrotate/crond.sh
  tools/logrotate/logrotate.conf
Labels: Priority: Low, area: docker, area: tools, area:deployment, type: enhancement

#1117 Use a specific version of redis for TravisCI
  .travis.yml
Labels: Priority: High, area: CI/CD

#1113 Fixes: #990: Look into eslint warnings
  src/frontend/src/pages/index.js
Labels: Priority: Low, area: front-end

#1124 Fixes #1009 Switch to 403 from 401 for login failed check
  src/frontend/src/components/Login/Login.jsx
Labels: area: front-end

#1115 Closes #1092: Add launch configuration for debugging tests
  .vscode/launch.json
Labels: developer experience, type: enhancement, type: test

#1127 Updates packages' version in backend, frontend, and autodeployment server
  package.json
  src/frontend/package.json
  src/frontend/src/pages/error.jsx
  tools/autodeployment/package.json
Labels: dependencies

#1112 Closes #680: Add documentation for staging + production deployment
  docs/staging-production-deployment.md
Labels: Priority: Medium, area:deployment, type: documentation

#1111 Closes #998: Secure our autodeployment server
  tools/autodeployment/env.example
  tools/autodeployment/server.js
Labels: Priority: Medium, area:deployment, type: security

#1134 Reduces whitespace above and below the ol and ul lists
  src/frontend/src/components/Post/telescope-post-content.css
Labels: area: css styling, area: front-end

#1133 Closes #992: Combine spinners from #985 and #937
  src/frontend/src/pages/index.js
Labels: Priority: Medium, area: front-end

#1138 Fixes #1137: Change 404 page when not logged in on /myfeeds to login page
  src/frontend/src/pages/myfeeds.js
Labels: area: front-end

#1132 Fixes #1107, changed proxy_pass to telescope_production:3000
  nginx-production.conf
Labels: area:deployment
