Repository Seneca-CDOT/telescope, pull requests merged in 2020-01, with the labels that each got.

#535 fix #534 proper login routes.
  src/backend/web/routes/login.js
Labels: area: sso

#542 Move coverage to its own npm script, allow passing args to Jest
  docs/CONTRIBUTING.md
  package.json
Labels: developer experience, type: enhancement, type: test

#545 Refactor src/backend/feed/parser.js to use package directly
  src/backend/feed/parser.js
  src/backend/feed/worker.js
  src/backend/utils/inactive-blog-filter.js
  test/feed-parser.test.js
Labels: area: back-end

#547 Parallelize feed parser, make it run forever
  env.example
  src/backend/feed/processor.js
  src/backend/feed/queue.js
  src/backend/feed/worker.js
  src/backend/index.js
  test/feed-processor.test.js
  tools/add-feed.js
Labels: area: back-end, type: enhancement

#557 Remove server sent events
  src/backend/web/routes/index.js
  src/backend/web/routes/server-sent-events.js
  src/frontend/index.html
  src/frontend/server-sent-events.js
Labels: area: front-end, area: web server

#559 Refactor src/backend/utils/utils.js, use isValidUrl directly
  src/backend/utils/utils.js
  test/utils.test.js
  tools/add-feed.js
Labels: area: back-end

#558 Fix #554: update README with a better intro on what the project is
  README.md
Labels: type: documentation

#527 Fixes #525: Add eslint-plugin-promise and fix async/Promise issues
  .eslintrc.js
  package.json
  src/backend/feed/queue.js
  src/backend/utils/basic_analysis.js
  src/backend/utils/email-sender.js
  src/backend/utils/github-url.js
  src/backend/utils/inactive-blog-filter.js
  src/backend/utils/sentiment-analysis.js
  src/backend/utils/storage.js
  src/backend/utils/summarize.js
  src/backend/utils/word-counter.js
  test/basic_analysis.test.js
  test/email-sender.test.js
  test/feed-queue.test.js
  test/inactive-blog-filter.test.js
  test/posts.test.js
  test/spam-checker.test.js
  test/storage.test.js
  test/word-counter.test.js
Labels: developer experience

#544 Closes: #532. Add graphql support to our server
  env.example
  package.json
  src/backend/web/app.js
  src/backend/web/graphql/index.js
  src/backend/web/routes/posts.js
Labels: area: back-end, area: web server, type: enhancement

#553 Fixes #122: add logging to inform user of Redis connection failure
  src/backend/lib/queue.js
Labels: area: redis

#565 Closes #522: Standardize on base64 encoded, SHA-256 hashed, normalized URIs as Redis keys
  package.json
  src/backend/utils/storage.js
  test/posts.test.js
  test/storage.test.js
Labels: area: back-end, area: redis, type: enhancement

#550 Fixes #396: add default values to environment variables
  src/backend/lib/config.js
  src/backend/utils/wiki-feed-parser.js
Labels: area: CI/CD, developer experience

#592 Refactor storage to use Post and Feed data classes
  src/backend/data/feed.js
  src/backend/data/hash.js
  src/backend/data/post.js
  src/backend/feed/processor.js
  src/backend/feed/worker.js
  src/backend/index.js
  src/backend/utils/storage.js
  src/backend/utils/wiki-feed-parser.js
  src/backend/web/graphql/index.js
  src/backend/web/routes/planet.js
  src/backend/web/routes/posts.js
  test/feed.test.js
  test/fixtures.js
  test/hash.test.js
  test/post.test.js
  test/posts.test.js
  test/storage.test.js
  test/test_files/blog.humphd.org.rss
  test/wiki-feed-parser.test.js
  tools/html-elements.js
Labels: area: back-end, area: redis, area: web server, type: enhancement, type: test

#594 Fixes #379: add feed data to opml endpoint
  src/backend/web/routes/opml.js
Labels: area: web server

#609 Closes #523: Add /feeds route to match what /posts does
  src/backend/web/routes/feeds.js
  src/backend/web/routes/index.js
  test/feeds.test.js
Labels: 0.6, area: back-end, area: web server, type: enhancement, type: test

#607 Fix #603: make web server stoppable
  package.json
  src/backend/lib/shutdown.js
  src/backend/web/server.js
Labels: developer experience

#612 fix #443: support Accept header in /posts route
  package.json
  src/backend/web/routes/posts.js
Labels: area: web server

#618 Use feed.id as jobId to de-dupe job queue
  env.example
  src/backend/feed/queue.js
Labels: Priority: High, area: back-end

#604 Use ETag and Last-Modified headers to cache feeds
  src/backend/data/feed.js
  src/backend/feed/processor.js
  src/backend/index.js
  src/backend/utils/storage.js
  test/feed-processor.test.js
  test/feed.test.js
  test/feeds.test.js
  test/fixtures.js
  test/storage.test.js
Labels: area: back-end, area: redis, type: enhancement, type: test

#590 Fixes #587, Added documentation on using GraphQL
  docs/graphql.md
  docs/images/graphqlFields.PNG
  docs/images/graphqlGetPosts.PNG
  docs/images/graphqlGetPostsCount.PNG
  docs/images/graphqlMultipleQueries.PNG
  docs/images/graphqlNoFields.PNG
Labels: area: back-end, area: web server, type: documentation

#600 Fixes #576 Improving .env instructions and audit Windows setup docs
  docs/CONTRIBUTING.md
  docs/environment-setup.md
Labels: type: documentation

#596 fix #451 testing certs for windows
  .travis.yml
Labels: area: CI/CD

#601 Make post.text a dynamic getter instead of storing
  src/backend/data/post.js
  src/backend/utils/storage.js
  test/post.test.js
  test/posts.test.js
Labels: area: back-end, area: redis, type: enhancement
