Repository Seneca-CDOT/telescope, pull requests merged in 2020-02, with the labels that each got.

#644 Fixes #595: add tests for /feed/opml endpoint
  package.json
  test/opml.test.js
Labels: area: web server, type: test

#640 Refactor SAML auth, make /admin/queues require auth
  docker-compose.yml
  env.example
  package.json
  src/backend/login/usingPassport.js
  src/backend/web/app.js
  src/backend/web/authentication.js
  src/backend/web/routes/admin.js
  src/backend/web/routes/auth.js
  src/backend/web/routes/index.js
  src/backend/web/routes/login.js
  src/backend/web/routes/user.js
  src/frontend/index.html
Labels: area: sso, area: web server

#662 Tweak Zeit Now config
  now.json
Labels: area: CI/CD

#651 Access logging information using GET /admin/log
  src/backend/web/routes/admin.js
Labels: area: web server, developer experience, type: enhancement

#649 Closes #519: Use Let's Encrypt and NGINX for certs on staging
  docker-compose-staging.yml
  nginx.conf
Labels: area: CI/CD, area: web server, area:deployment, type: enhancement

#672 Fix #636, #635: Gatsby Login UI
  src/backend/web/routes/user.js
  src/frontend/src/components/Header/Header.jsx
  src/frontend/src/components/Login/Login.css
  src/frontend/src/components/Login/Login.jsx
  src/frontend/src/components/Login/index.js
Labels: area: back-end, area: front-end, area: sso, help wanted

#670 Issue #638 add Jest tests for /feed/* endpoints
  test/feeds-atom.test.js
  test/feeds-json.test.js
  test/feeds-opml.test.js
  test/feeds-rss.test.js
  test/feeds-wiki.test.js
Labels: area: web server, type: test

#689 fix: Change settings to restrict access to redis container
  docker-compose-staging.yml
  docker-compose.yml
  nginx.conf
  src/frontend/src/components/Layout/Layout.js
Labels: area: docker, area: redis, area:deployment

#692 Fix: Add ports for telescope and redis local deployment
  docker-compose.yml
Labels: area: docker, area:deployment

#696 Fix: Change response from 301 to 307 and redirect request to the right route
  nginx.conf
Labels: Priority: High, area: sso, area:deployment

#726 Fixes #624: delay feed processing in response to rate limitation
  env.example
  src/backend/data/feed.js
  src/backend/feed/processor.js
  src/backend/utils/storage.js
  test/feed.test.js
Labels: area: back-end, area: redis

#733 Follow-up to PR #726: complete feed processing delay implementation
  src/backend/feed/processor.js
Labels: area: back-end, area: redis

#738 Removed Logo
  src/frontend/src/components/Layout/Layout.css
  src/frontend/src/components/Layout/Layout.js
Labels: area: design, area: front-end

#736 Removed background
  src/frontend/src/images/background.jpg
  src/frontend/src/pages/index.css
Labels: 5 min fix, area: design, area: front-end

#735 Complete Gatsby MaterialUI installation plus 'Add Feeds' page wireframing
  src/frontend/gatsby-config.js
  src/frontend/package.json
  src/frontend/src/pages/myfeeds.js
Labels: area: design, area: front-end

#743 Fixes #721 Search Bar Component
  src/frontend/src/components/Layout/Layout.js
  src/frontend/src/components/SearchBar/SearchBar.jsx
  src/frontend/src/components/SearchBar/index.js
Labels: area: front-end

#739 Added Search page
  src/frontend/src/pages/search.js
Labels: area: design, area: front-end

#749 Fix #700: Initial work on css and adjusting picture size
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/Post/telescope-post-content.css
  src/frontend/src/components/TextArea/TextArea.css
Labels: area: front-end

#740 Fixes #731 added scroll to top button
  src/frontend/src/components/Layout/Layout.js
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
  src/frontend/src/components/ScrollToTop/index.js
Labels: area: front-end

#753 Enhance PR #749: adjust image constraints, emoji sizes
  src/frontend/src/components/Post/telescope-post-content.css
Labels: 5 min fix, area: front-end
