Repository Seneca-CDOT/telescope, pull requests merged in 2020-11, with the labels that each got.

#1263 Fixes #1200: TypeError: Cannot read property 'id' of undefined
  src/backend/lib/queue.js
Labels: area: back-end, area: redis

#1273 Fixes #1272: Redis link causing confusion in environment setup (Docs)
  docs/environment-setup.md
Labels: area: redis, type: documentation

#1248 Part of #1145: Added setup for frontend testing and Added test for Spinner component
  package.json
  src/frontend/.babelrc
  src/frontend/__mocks__/file-mock.js
  src/frontend/__mocks__/gatsby.js
  src/frontend/jest-preprocess.js
  src/frontend/jest.config.js
  src/frontend/loadershim.js
  src/frontend/package.json
  src/frontend/setup-test-env.js
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
  src/frontend/src/components/Spinner/Spinner.jsx
  src/frontend/test/Spinner.test.js
Labels: area: front-end, type: test

#1253 Fixes #1221: Reduce amount of JSON sent from backend with query results
  src/backend/utils/__mocks__/indexer.js
  src/backend/utils/indexer.js
  test/feed.test.js
Labels: area: back-end, area: elasticsearch, hacktoberfest-accepted

#1275 Allow searching for exact phrases
  src/backend/utils/indexer.js
Labels: area: back-end, area: elasticsearch

#1281 Scroll action
  src/frontend/src/components/BackToTopButton/BackToTopButton.jsx
  src/frontend/src/components/BackToTopButton/index.js
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/ScrollAction/ScrollAction.jsx
  src/frontend/src/components/ScrollAction/index.js
  src/frontend/src/components/ScrollToTop/ScrollToTop.jsx
  src/frontend/src/components/ScrollToTop/index.js
  src/frontend/src/pages/index.js
Labels: area: front-end

#1282 Fixes #1266: modifies sanitize.js to allow Telescope to parse img tags with data uris
  src/backend/utils/html/sanitize.js
  test/sanitize-html.test.js
Labels: area: back-end

#1294 added more values in elastic search
  src/backend/data/post.js
  src/backend/utils/__mocks__/indexer.js
  src/backend/utils/indexer.js
Labels: area: back-end, area: elasticsearch

#1295 Closes #552: Remove GraphQL implementation
  docs/CONTRIBUTING.md
  docs/graphql.md
  package.json
  src/backend/utils/indexer.js
  src/backend/web/app.js
  src/backend/web/graphql/index.js
  src/backend/web/routes/query.js
  src/frontend/src/components/SearchPage/SearchPage.jsx
  src/frontend/src/pages/search.js
  test/query.test.js
Labels: area: back-end, area: elasticsearch, area: front-end

#1318 Added FEED_URL_INTERVAL_MS=200 to coverage script to fix the failing test
  package.json
Labels: type: test

#1251 Closes #1220: Better error/loading handling when posts can't be loaded
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/Posts/Posts.jsx
Labels: area: front-end, hacktoberfest-accepted

#1213 Fixes #881: Removed boxAfterHeader and Box tag
  src/frontend/src/components/SearchBar/SearchBar.jsx
  src/frontend/src/components/SearchPage/SearchPage.jsx
Labels: area: front-end

#1290 Add Kibana to Telescope
  docker-compose.yml
  env.example
Labels: Blocked, area: back-end, area: elasticsearch

#1324 Fixes #1173: Change Telescope theme to a light theme
  src/frontend/src/pages/error.jsx
Labels: area: css styling, area: front-end

#1337 Add check for empty descriptions to avoid empty blog posts
  src/backend/utils/html/index.js
  test/fixtures.js
  test/post.test.js
Labels: area: back-end, area: tools

#1331 Fix #1250: syntax highlighting for all empty <pre>
  src/backend/utils/html/index.js
  src/backend/utils/html/modify-pre.js
  test/modify-pre.test.js
Labels: area: back-end, type: enhancement

#1274 Fixes #1223: Merge our two "sticky headers" on scroll
  src/frontend/src/components/Banner/Banner.jsx
  src/frontend/src/components/Header/DesktopHeader.jsx
  src/frontend/src/components/Header/Header.jsx
  src/frontend/src/components/Header/MobileHeader.jsx
  src/frontend/src/components/Post/Post.jsx
  src/frontend/src/components/Posts/Posts.jsx
  src/frontend/src/components/ScrollAction/ScrollAction.jsx
Labels: area: front-end

#1305 Fixes #971: Where login button wasn't fully clickable
  src/frontend/src/components/Header/MobileHeader.jsx
  src/frontend/src/components/Login/Login.jsx
Labels: area: css styling, area: front-end

#1283 Connect Pino logger to ElasticSearch
  env.example
  package.json
  src/backend/utils/logger.js
Labels: area: back-end, area: elasticsearch

#1332 Closes #1229: Implement infinite scrolling without Load More button
  src/frontend/src/components/Posts/LoadAutoScroll.jsx
  src/frontend/src/components/Posts/LoadMoreButton.jsx
  src/frontend/src/components/Posts/Timeline.jsx
Labels: area: front-end

#1330 Add hook for getting Telescope contributors from GitHub
  src/frontend/src/hooks/use-telescope-contributor.js
Labels: area: front-end

#1322 Fixes #1319 - Add Workflow Status Badge to README
  .github/workflows/node-js-ci.yml
  README.md
Labels: area: CI/CD

#1352 set MAX_POSTS_PER_PAGE=5
  env.example
  env.production
  env.staging
Labels: area: back-end

#1256 Fixes #1224: Show all posts for an author sorted by date when searching by Author
  src/backend/utils/indexer.js
Labels: area: front-end, hacktoberfest-accepted

#1359 ReOpen: Fix#Issue 1311 - validate GET /posts/:id route using Express Validator
  src/backend/web/routes/posts.js
  src/backend/web/validation.js
  test/posts.test.js
Labels: area: back-end, type: test

#1357 JSON body validation of POST /feeds from Ajv to express-validator
  package.json
  src/backend/web/validation.js
Labels: area: back-end

#1343 Fixes #1270: let URL in sync with keywords to make searches sharable
  src/frontend/gatsby-config.js
  src/frontend/package.json
  src/frontend/src/components/SearchBar/SearchBar.jsx
  src/frontend/src/components/SearchPage/SearchPage.jsx
  src/frontend/src/components/SearchPage/SearchResults.jsx
Labels: area: front-end

#1392 Fixes issue-1355: Display Contributor in Footer of About Page
  src/frontend/src/components/AboutFooter/AboutFooter.jsx
  src/frontend/src/components/GitHubContributorCard/GitHubContributorCard.jsx
  src/frontend/src/hooks/use-telescope-contributor.js
Labels: area: design, area: front-end

#1433 Fix Issue1432: Mouse hover on search textField makes border disappeared
  src/frontend/gatsby/src/components/SearchInput/AuthorSearchInput.jsx
  src/frontend/gatsby/src/components/SearchInput/SearchInput.jsx
Labels: area: front-end, type: bug

#1345 Fixed triple-reporting lint issues
  .github/workflows/node-js-ci.yml
Labels: area: CI/CD
