Repository Seneca-CDOT/telescope, pull requests merged in 2021-05, with the labels that each got.

#2231 Fix: 2229 Updating src/api/posts/Readme.md to fix typo
  src/api/posts/README.md
Labels: area: back-end, type: documentation (docs)

#2228 Fixes #2197: feedparser-promised deprecated
  package.json
  src/api/parser/package.json
  src/api/parser/src/feed/processor.js
  src/backend/data/post.js
  src/backend/feed/processor.js
  test/feed-processor.test.js
  test/feed.test.js
  test/post.test.js
Labels: area: back-end, dependencies

#2238 User Microservice Port from 6666 to 7000
  config/env.development
  config/env.production
  config/env.staging
  docker/development.yml
  src/api/users/README.md
  src/api/users/env.local
  src/api/users/src/server.js
Labels: area: microservices

#2244 Fixes #2097 Remove old Gatsby docs
  docs/CONTRIBUTING.md
  docs/aws-cloud9.md
  docs/gatsbyjs.md
  docs/login.md
Labels: area: front-end, type: documentation (docs)
