Repository Seneca-CDOT/telescope, pull requests merged in 2022-02, with the labels that each got.

#2782 refactor: Remove logrotate service
  config/env.production
  config/env.staging
  docker/production.yml
  docs/architecture.md
  tools/logrotate/Dockerfile
  tools/logrotate/crond.sh
  tools/logrotate/logrotate.conf
Labels: area: microservices

#2787 Issue 2786 - Added steps to test in template for PRs
  .github/PULL_REQUEST_TEMPLATE.md
Labels: developer experience

#2751 Modified regex to match user only
  src/web/src/components/Posts/GitHubInfo.tsx
  src/web/src/githubReservedName.ts
Labels: type: bug, area: front-end

#2743 Self host Supabase service
  .gitpod.yml
  config/env.development
  docker/docker-compose.yml
  docker/supabase/.gitignore
  docker/supabase/dev/data.sql
  docker/supabase/dev/docker-compose.dev.yml
  docker/supabase/docker-compose.yml
  docker/supabase/volumes/api/kong.yml
  docker/supabase/volumes/db/init/00-initial-schema.sql
  docker/supabase/volumes/db/init/01-auth-schema.sql
  docker/supabase/volumes/db/init/02-storage-schema.sql
  docker/supabase/volumes/db/init/03-post-setup.sql
  pnpm-lock.yaml
  src/api/sso/env.local
  src/api/sso/package.json
  src/api/sso/src/supabase.js
Labels: area: back-end

#2757 initial setup for search test
  src/api/search/jest.config.js
  src/api/search/jest.setup.js
  src/api/search/test/query.test.js
Labels: type: test

#2795 Fixes #2793: Added mdx/react to web
  pnpm-lock.yaml
  src/web/package.json
Labels: type: bug, Priority: High

#2769 Adapt syntax highlighting on dark theme
  .prettierignore
  src/web/public/styles/github-dark.min.css
  src/web/public/styles/github.min.css
  src/web/src/components/Posts/Post.tsx
  src/web/src/hooks/use-preferred-theme.ts
  src/web/src/pages/_document.tsx
  src/web/src/styles/globals.css
  src/web/src/styles/telescope-post-content.css
Labels: area: front-end, area: design, area: css styling

#2790 Issue 2691 - Build dashboard error resizing
  src/api/status/public/assets/js/material-dashboard.min.js
Labels: type: bug, upstream

#2789 Fixes 2658: Add octokit to dashboard
  pnpm-lock.yaml
  src/api/status/env.local
  src/api/status/package.json
  src/api/status/src/js/github-stats.js
  src/api/status/src/js/octokit.js
Labels: type: enhancement

#2796 Change image microservices to pnpm
  src/api/image/Dockerfile
Labels: type: enhancement, dependencies

#2764 POC for #2379: GithubInfo Custom Hook to remove duplicate Github Info code
  src/web/src/components/GithubInfoProvider.tsx
  src/web/src/components/Posts/Commits.tsx
  src/web/src/components/Posts/GitHubInfo.tsx
  src/web/src/components/Posts/GitHubInfoMobile.tsx
  src/web/src/components/Posts/Issues.tsx
  src/web/src/components/Posts/Post.tsx
  src/web/src/components/Posts/PullRequests.tsx
  src/web/src/components/Posts/Repos.tsx
  src/web/src/components/Posts/Users.tsx
  src/web/src/hooks/use-githubInfo.ts
Labels: area: front-end

#2706 Make Youtube link clickable
  package.json
  pnpm-lock.yaml
  src/backend/data/post.js
  test/post.test.js
Labels: type: enhancement

#2788 Set up rss-bridge service
  config/rss-bridge/config.ini.php
  config/rss-bridge/whitelist.txt
  docker/docker-compose.yml
  docker/production.yml
Labels: help wanted, area: back-end, area: docker

#2808 Fix SSO Docker build on M1
  src/api/sso/Dockerfile
Labels: area: docker

#2807 Fix routing in Traefik for status server, remove hacks in express
  docker/docker-compose.yml
  src/api/status/env.local
  src/api/status/src/server.js
  src/api/status/src/views/partials/header.hbs
Labels: area: microservices, area: dashboard, area: traefik

#2811 Fix docker/production.yml so it validates
  docker/production.yml
Labels: area: docker

#2806 Reorganize GithubInfo componment
  src/web/src/components/Posts/GitHubInfo/Commits.tsx
  src/web/src/components/Posts/GitHubInfo/GitHubInfoMobile.tsx
  src/web/src/components/Posts/GitHubInfo/Issues.tsx
  src/web/src/components/Posts/GitHubInfo/PullRequests.tsx
  src/web/src/components/Posts/GitHubInfo/Repos.tsx
  src/web/src/components/Posts/GitHubInfo/Users.tsx
  src/web/src/components/Posts/GitHubInfo/index.tsx
  src/web/src/components/Posts/Post.tsx
Labels: type: enhancement

#2798 Issue-2611: Responsive Build Log
  src/api/status/public/css/terminal.css
  src/api/status/scss/material-dashboard/_navbar-vertical.scss
  src/api/status/src/views/builds.hbs
Labels: area: front-end, area: css styling, area: dashboard

#2817 Don't specify tini version, which breaks on some setups
  src/api/sso/Dockerfile
Labels: area: docker, area: deployment

#2823 Configure telescope mobile app.json
  src/mobile/app.json
  src/mobile/assets/adaptive-icon.png
  src/mobile/assets/favicon.png
  src/mobile/assets/icon.png
  src/mobile/assets/splash.png
Labels: area: React Native

#2813 Add Turborepo docs
  docs/turborepo.md
Labels: type: documentation (docs)

#2797 Set up back end to recollect information from pnpm
  pnpm-lock.yaml
  src/api/dependency-discovery/env.local
  src/api/dependency-discovery/package.json
  src/api/dependency-discovery/src/dependency-list.js
  src/api/dependency-discovery/src/index.js
  src/api/dependency-discovery/src/router.js
  src/api/dependency-discovery/src/server.js
  tools/pnpm-deps-gen.sh
Labels: area: back-end, area: microservices, area: dependency visualization

#2839 Fix horizontal overflow in sidebar
  src/web/src/components/Posts/GitHubInfo/Repos.tsx
Labels: area: design

#2825 Change splash screen background color
  src/mobile/App.jsx
  src/mobile/app.json
  src/mobile/package.json
Labels: area: React Native

#2845 Fix CSP issue and API status in dashboard
  docker/docker-compose.yml
  src/api/status/src/views/status.hbs
Labels: type: bug, area: dashboard

#2847 Resize terminal depending on window height
  src/api/status/public/js/build-log/terminal.js
  src/api/status/src/views/builds.hbs
  src/api/status/src/views/layouts/main.hbs
Labels: type: bug, area: dashboard

#2853 Fixes #2792 Set up Docusaurus website
  .eslintrc.js
  .prettierignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/docs/.gitignore
  src/docs/README.md
  src/docs/babel.config.js
  src/docs/blog/2019-05-28-first-blog-post.md
  src/docs/blog/2019-05-29-long-blog-post.md
  src/docs/blog/2021-08-01-mdx-blog-post.mdx
  src/docs/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  src/docs/blog/2021-08-26-welcome/index.md
  src/docs/blog/authors.yml
  src/docs/docs/intro.md
  src/docs/docs/tutorial-basics/_category_.json
  src/docs/docs/tutorial-basics/congratulations.md
  src/docs/docs/tutorial-basics/create-a-blog-post.md
  src/docs/docs/tutorial-basics/create-a-document.md
  src/docs/docs/tutorial-basics/create-a-page.md
  src/docs/docs/tutorial-basics/deploy-your-site.md
  src/docs/docs/tutorial-basics/markdown-features.mdx
  src/docs/docs/tutorial-extras/_category_.json
  src/docs/docs/tutorial-extras/manage-docs-versions.md
  src/docs/docs/tutorial-extras/translate-your-site.md
  src/docs/docusaurus.config.js
  src/docs/package.json
  src/docs/sidebars.js
  src/docs/src/components/HomepageFeatures.js
  src/docs/src/components/HomepageFeatures.module.css
  src/docs/src/css/custom.css
  src/docs/src/pages/index.js
  src/docs/src/pages/index.module.css
  src/docs/src/pages/markdown-page.md
  src/docs/static/.nojekyll
  src/docs/static/img/docusaurus.png
  src/docs/static/img/favicon.ico
  src/docs/static/img/logo.svg
  src/docs/static/img/tutorial/docsVersionDropdown.png
  src/docs/static/img/tutorial/localeDropdown.png
  src/docs/static/img/undraw_docusaurus_mountain.svg
  src/docs/static/img/undraw_docusaurus_react.svg
  src/docs/static/img/undraw_docusaurus_tree.svg
Labels: type: documentation (docs), developer experience

#2841 React native documentation
  docs/images/developer_menu.png
  docs/images/metro_bundler_deploy_options.png
  docs/images/tunnel_deploy_option.png
  docs/react-native.md
Labels: type: documentation (docs), area: React Native

#2820 [Docs] Add template for an ongoing project
  .github/ISSUE_TEMPLATE/active-project.md
  .github/ISSUE_TEMPLATE/new-project.md
Labels: type: documentation (docs)

#2874 Revert "Change renovate schedule to after 6pm daily"
  .github/renovate.json
Labels: dependencies

#2838 Write portable dependency script
  package.json
  src/api/dependency-discovery/README.md
  src/api/dependency-discovery/deps.txt
  tools/collect-dependencies.js
  tools/pnpm-deps-gen.sh
Labels: area: dependency visualization

#2844 Handle Telescope user registration and login
  config/env.development
  docker/docker-compose.yml
  docker/supabase/volumes/db/init/04-initiate-tables.sql
  src/api/sso/env.local
  src/api/sso/src/authentication.js
  src/api/sso/src/middleware.js
  src/api/sso/src/routes/login.js
  src/api/sso/src/routes/register.js
  src/api/sso/src/token.js
  src/api/sso/src/user.js
  src/api/sso/test/e2e/auth-flows.test.js
  src/api/sso/test/e2e/signup-flow.test.js
  src/api/sso/test/e2e/super-user.test.js
  src/api/sso/test/e2e/utils.js
  src/api/sso/test/user.test.js
  src/web/src/components/NavBar/index.tsx
Labels: type: enhancement, area: supabase

#2875 Bundle all client-side javascript in dashboard
  pnpm-lock.yaml
  src/api/status/Dockerfile
  src/api/status/package.json
  src/api/status/public/assets/js/core/bootstrap.bundle.min.js
  src/api/status/public/assets/js/core/bootstrap.min.js
  src/api/status/public/assets/js/core/popper.min.js
  src/api/status/public/assets/js/demo-chart.cjs
  src/api/status/public/assets/js/demo-sidenav.js
  src/api/status/public/assets/js/material-dashboard.cjs
  src/api/status/public/assets/js/material-dashboard.js.map
  src/api/status/public/assets/js/material-dashboard.min.js
  src/api/status/public/assets/js/plugins/chartjs.min.cjs
  src/api/status/public/assets/js/plugins/perfect-scrollbar.min.js
  src/api/status/public/assets/js/plugins/smooth-scrollbar.min.cjs
  src/api/status/public/js/build-log/terminal.js
  src/api/status/public/js/pages/build.js
  src/api/status/public/js/pages/dashboard.js
  src/api/status/public/js/pages/main.js
  src/api/status/src/views/builds.hbs
  src/api/status/src/views/partials/header.hbs
  src/api/status/src/views/status.hbs
  src/api/status/vite.config.js
Labels: area: dashboard

#2889 Update .npmrc to not add ^ to package versions
  .npmrc
Labels: developer experience, dependencies

#2891 Fix missing import of @docusaurus/types
  pnpm-lock.yaml
  src/docs/package.json
Labels: area: docusaurus

#2890 Use Telescope logo in docs
  src/docs/static/img/favicon.ico
  src/docs/static/img/logo.svg
Labels: type: documentation (docs), area: docusaurus

#2888 Use Docusaurus tabs for each OS in environment-setup
  src/docs/docs/getting-started/environment-setup.md
Labels: type: documentation (docs), developer experience, area: docusaurus

#2884 Improve accessibility of About page
  src/web/src/components/AboutFooter.tsx
  src/web/src/components/__snapshots__/AboutFooter.test.tsx.snap
Labels: accessibility

#2887 Fixes #2885 add showLastUpdateAuthor and showLastUpdateTime to Docusaurus config
  pnpm-lock.yaml
  src/docs/docusaurus.config.js
  src/docs/package.json
Labels: type: documentation (docs), developer experience, area: docusaurus

#2902 modify footer ~add links, and changed copyright label
  src/docs/docusaurus.config.js
Labels: area: docusaurus

#2904 Update README.md to link to new docs location
  README.md
Labels: type: documentation (docs), 5 min fix, area: docusaurus

#2893 Use Admonitions in docs
  src/docs/docs/contributing/git-workflow.md
  src/docs/docs/contributing/staging-production-deployment.md
  src/docs/docs/getting-started/aws-cloud9.md
  src/docs/docs/getting-started/environment-setup.md
  src/docs/docs/tools-and-technologies/elasticsearch.md
  src/docs/docs/tools-and-technologies/login.md
  src/docs/docs/tools-and-technologies/react-native.md
  src/docs/docs/tools-and-technologies/redis.md
  src/docs/docs/tools-and-technologies/renovate.md
Labels: type: documentation (docs), developer experience, area: docusaurus

#2907 Fix #2762: Indicate better build information in build-header
  src/api/status/public/js/build-log/build-header.js
  src/api/status/src/views/builds.hbs
Labels: area: dashboard

#2930 Fix link to Environment Setup documentation
  src/docs/docs/contributing/CONTRIBUTING.md
Labels: type: documentation (docs)

#2920 Fixes Issue-2767: Windows installation steps to use expo-cli with android studios
  src/docs/docs/tools-and-technologies/react-native.md
Labels: type: documentation (docs), area: React Native

#2919 Add alert toast
  src/api/status/public/js/build-log/check-build-status.js
  src/api/status/public/js/build-log/check-for-build.js
  src/api/status/public/js/utils/toast.js
Labels: developer experience, area: dashboard

#2856 Default health check to master in development
  pnpm-lock.yaml
  src/api/status/package.json
  src/api/status/src/server.js
  src/backend/web/routes/health.js
Labels: area: back-end

#2824 Bottom navbar for mobile
  .eslintrc.js
  src/mobile/App.jsx
  src/mobile/app.json
  src/mobile/package.json
  src/mobile/src/App.jsx
  src/mobile/src/assets/adaptive-icon.png
  src/mobile/src/assets/favicon.png
  src/mobile/src/assets/icon.png
  src/mobile/src/assets/splash.png
  src/mobile/src/navigation/Navigation.jsx
  src/mobile/src/screens/ContactScreen.jsx
  src/mobile/src/screens/HomeScreen.jsx
  src/mobile/src/screens/SearchScreen.jsx
  src/mobile/src/screens/SignUpScreen.jsx
  src/web/next-env.d.ts
Labels: area: React Native

#2945 Fixes #2943 fix broken links that prevent Docusaurus website from building
  src/docs/docs/api-services/api.md
  src/docs/docs/getting-started/environment-setup.md
  src/docs/docs/tools-and-technologies/login.md
  src/docs/docs/tools-and-technologies/pino.md
  src/docs/docs/tools-and-technologies/renovate.md
Labels: type: documentation (docs), area: docusaurus

#2948 [Fix] Use correct base url for planet link
  src/web/src/components/Banner.tsx
Labels: area: front-end

#2821 Add base-install docker image
  src/api/Dockerfile
Labels: type: enhancement, area: docker

#2892 Add unit tests for /advanced query routers
  src/api/search/test/query.test.js
Labels: type: test, area: elasticsearch, review: normal

#2863 Adding GitHub token into all env files
  docker/docker-compose.yml
  tools/autodeployment/builds.js
  tools/autodeployment/deploy.sh
  tools/autodeployment/env.example
Labels: type: enhancement, help wanted, area: docker, area: microservices

#2903 Created test for dependency-discovery service
  src/api/dependency-discovery/jest.config.js
  src/api/dependency-discovery/jest.setup.js
  src/api/dependency-discovery/package.json
  src/api/dependency-discovery/src/dependency-list.js
  src/api/dependency-discovery/src/router.js
  src/api/dependency-discovery/test/dependency.test.js
Labels: type: test, area: dependency visualization, review: normal

#2953 Stop the dashboard UI from stutter by checking the build sha
  src/api/status/public/js/build-log/check-for-build.js
  src/api/status/public/js/pages/build.js
Labels: review: unknown

#2937 Dockerize dependency-discovery
  config/env.development
  config/env.production
  config/env.staging
  docker/docker-compose.yml
  docker/production.yml
  src/api/dependency-discovery/.dockerignore
  src/api/dependency-discovery/Dockerfile
  src/api/dependency-discovery/README.md
  src/api/dependency-discovery/env.local
  src/api/dependency-discovery/src/server.js
Labels: area: docker, review: normal

#2931 Expose kong via Traefik
  config/env.development
  docker/development.yml
  docker/supabase/docker-compose.yml
  src/api/sso/test/e2e/utils.js
Labels: area: docker, area: deployment, area: supabase

#2947 Generalize the GitHubInfoProvider
  src/web/src/components/GenericInfoProvider.tsx
  src/web/src/components/GitHubInfo.tsx
  src/web/src/components/GithubInfoProvider.tsx
  src/web/src/components/Posts/GitHubInfo/Commits.tsx
  src/web/src/components/Posts/GitHubInfo/GitHubInfoMobile.tsx
  src/web/src/components/Posts/GitHubInfo/Issues.tsx
  src/web/src/components/Posts/GitHubInfo/PullRequests.tsx
  src/web/src/components/Posts/GitHubInfo/Repos.tsx
  src/web/src/components/Posts/GitHubInfo/Users.tsx
  src/web/src/components/Posts/GitHubInfo/index.tsx
  src/web/src/components/Posts/Post.tsx
  src/web/src/hooks/use-genericInfo.ts
  src/web/src/hooks/use-githubInfo.ts
Labels: area: front-end

#2927 add testing for normal search
  src/api/search/jest.setup.js
  src/api/search/test/query.test.js
Labels: type: test, review: normal

#2940 Add rss-bridge and dependency-discovery statuses
  src/api/status/src/services.js
Labels: area: dashboard, review: unknown

#2950 Move Portainer behind Traefik instead of nginx
  config/env.production
  config/env.staging
  config/nginx.conf.template
  docker/docker-compose.yml
  docker/production.yml
Labels: area: docker, area: traefik, nginx, review: unknown

#2944 Reduce size of web service using nginx stable-alpine
  config/nginx.conf.development.template
  config/nginx.conf.template
  src/web/Dockerfile
Labels: type: enhancement, area: docker

#2983 Fixes #2975: GITHUB_TOKEN showing in logs
  tools/autodeployment/deploy.sh
Labels: area: autodeployment

#2988 [Fix]: Build header doesn't display build info in production
  src/api/status/public/js/build-log/build-header.js
Labels: area: dashboard

#3003 [Fix]: Remove unused volume
  docker/production.yml
Labels: area: docker

#2973 Fixes #2865 dockerize Docusaurus
  src/docs/.dockerignore
  src/docs/Dockerfile
Labels: type: enhancement, area: docker, area: docusaurus

#2996 Use port 9000 vs. 80 for portainer router
  docker/production.yml
Labels: area: deployment

#3008 Increase buffer size for the dependency script
  tools/collect-dependencies.js
Labels: Priority: High

#3015 Fixes #2868 Remove MDX from our Next.js frontend
  pnpm-lock.yaml
  src/web/next.config.js
  src/web/package.json
  src/web/src/components/AboutPage.tsx
  src/web/src/markdown-pages/about.md
  src/web/src/pages/about.mdx
  src/web/src/pages/about.tsx
  src/web/src/pages/layouts/MDXPageBase.tsx
  src/web/webpack.config.js
Labels: area: front-end, area: css styling, area: nextjs

#2846 Making parser service work
  pnpm-lock.yaml
  src/api/parser/.gitignore
  src/api/parser/README.md
  src/api/parser/env.local
  src/api/parser/jest.config.e2e.js
  src/api/parser/package.json
  src/api/parser/readme.md
  src/api/parser/src/data/feed.js
  src/api/parser/src/data/post.js
  src/api/parser/src/feed/processor.js
  src/api/parser/src/feed/queue.js
  src/api/parser/src/feed/worker.js
  src/api/parser/src/index.js
  src/api/parser/src/lib/elastic.js
  src/api/parser/src/lib/queue.js
  src/api/parser/src/lib/shutdown.js
  src/api/parser/src/parser-queue.js
  src/api/parser/src/server.js
  src/api/parser/src/utils/__mocks__/indexer.js
  src/api/parser/src/utils/html/dom.js
  src/api/parser/src/utils/html/fix-iframe-width.js
  src/api/parser/src/utils/html/index.js
  src/api/parser/src/utils/html/lazy-load.js
  src/api/parser/src/utils/html/modify-pre.js
  src/api/parser/src/utils/html/remove-empty-anchor.js
  src/api/parser/src/utils/html/remove-empty-paragraphs.js
  src/api/parser/src/utils/html/sanitize.js
  src/api/parser/src/utils/html/syntax-highlight.js
  src/api/parser/src/utils/indexer.js
  src/api/parser/src/utils/storage.js
  src/api/parser/src/utils/text-parser.js
  src/api/parser/src/utils/url-parser.js
  src/api/parser/src/utils/wiki-feed-parser.js
Labels: type: enhancement, area: back-end, type: test, area: microservices, review: hard

#2971 Fixes #2970 add eslint configurations to Docusaurus and play together with turborepo's linting
  pnpm-lock.yaml
  src/docs/.eslintrc.js
  src/docs/package.json
  tools/eslint/package.json
Labels: area: docusaurus

#2977 Update telescope_profiles and feeds tables
  docker/supabase/volumes/db/init/04-initiate-tables.sql
  docker/supabase/volumes/db/init/04-telescope-schema.sql
  src/api/sso/src/middleware.js
  src/web/src/pages/signup.tsx
Labels: area: back-end, area: supabase

#3025 Handle portainer routing in nginx
  config/nginx.conf.template
  docker/production.yml
Labels: area: docker, nginx

#3038 Updated deployment documentation to include GITHUB_TOKEN
  src/docs/docs/contributing/staging-production-deployment.md
Labels: type: documentation (docs), review: easy

#3047 Fixes #3046 Add pnpm build to Production layer in Docusaurus Dockerfile
  src/docs/Dockerfile
  src/docs/docusaurus.config.js
Labels: area: docker, area: docusaurus

#3049 Update Satellite to 1.26.0 in all packages
  pnpm-lock.yaml
  src/api/dependency-discovery/package.json
  src/api/feed-discovery/package.json
  src/api/image/package.json
  src/api/parser/package.json
  src/api/planet/package.json
  src/api/posts/package.json
  src/api/search/package.json
  src/api/sso/package.json
  src/api/status/package.json
  tools/autodeployment/package.json
Labels: satellite

#3041 Setup i18n for docusaurus
  src/docs/docusaurus.config.js
  src/docs/i18n/es/docusaurus-plugin-content-docs/current/overview.md
  src/docs/i18n/fr/docusaurus-plugin-content-docs/current/overview.md
  src/docs/i18n/ru/docusaurus-plugin-content-docs/current/overview.md
  src/docs/i18n/uk/docusaurus-plugin-content-docs/current/overview.md
  src/docs/i18n/vi/docusaurus-plugin-content-docs/current/overview.md
  src/docs/i18n/zh-cn/docusaurus-plugin-content-docs/current/overview.md
Labels: area: docusaurus

#3058 chore(deps): update dependency @types/node to v16.11.26
  pnpm-lock.yaml
  src/web/package.json
Labels: dependencies, review: easy

#3065 Fix colour palette in docs
  src/docs/docs/tools-and-technologies/nextjs.md
Labels: type: documentation (docs)
